{% extends 'base.html' %}

{% block content %}
  <form method="post" class="flex flex-col bg-white max-w-xl m-auto shadow-md rounded px-8 pt-6 pb-8 my-4 text-center" action="{% url 'login' %}?next=/">
    <h2 class="text-2xl font-semibold">Sign in</h2>
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        <input type="{{ field.field.widget.input_type }}"
               name="{{ field.name }}"
               class="border rounded border-green-600 m-auto my-2"
               {% if field.value %} value="{{ field.value }}"{% endif %}>
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit" class="m-auto mt-2 border rounded bg-green-600 text-white p-3 hover:scale-110 hover:cursor-pointer">Sign in</button>
  </form>
{% endblock %}
