{% extends "../base.html" %}

{% block content %}
  
<div class="">
  <h1 class='md:text-5xl text-center {% if product.featured %}font-bold{% endif %} m-3'>
    {{product.title|title}}
  </h1>
  <p class='md:text-xl text-center m-3'>Description:</p>
  <p class='md:text-lg text-center m-3'>
    {% if product.description != None and product.description != '' %}
      {{product.description}}
    {% else %}
      Coming soon
    {% endif %}
  </p>
  <p class='md:text-xl text-center m-3'>Price:</p>
  <p class='md:text-lg text-center m-3'>${{product.price}}</p>
</div>
{% endblock %}
